/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

button:focus {
  outline: none;
}

button[style] {
  margin-top: 20px;
}

/* Estilos del modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 400px;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

/* Botón de cierre */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  color: #666;
}

.close:hover {
  color: black;
}

ol {
  padding-left: 20px;
  margin: 10px 0;
  color: #444;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

p {
  color: #888;
  font-style: italic;
}

/* Estilos del modal de eliminar */
.modal-eliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-eliminar {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

/* Estilo para los botones del modal de eliminación */
button {
  margin: 5px;
}

button:hover {
  background-color: #f0f0f0;
}

button[style] {
  margin-top: 20px;
}
